<?xml version="1.0"?>
<model>
  <name>Mini Talon V-Tail with Camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Alessandro Bacchini</name>
  </author>

  <author>
    <name>Seth Schaffer</name>
  </author>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    X-UAV Mini Talon V-Tail.

    Original CAD model by Alessandro Bacchini,
    retrieved from GradCAD 04 July 2023.

    https://grabcad.com/alessandro.bacchini-2
    https://grabcad.com/library/mini-talon-x-uav-1


    Motor model by Seth Schaffer,
    retrieved from GradCAD 04 July 2023.

    https://grabcad.com/seth.schaffer-1
    https://grabcad.com/library/configurable-propdrive-v2-brushless-motor-with-mount-plate-solidworks-2019-1
  </description>
</model>

