<?xml version="1.0" ?>
<model>
  <name>Gimbal Small 3D</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    MotorPixie 3D Gimbal for DJI Phantom 2 Vision - Discontinued.
    3D mesh: https://www.thingiverse.com/thing:391130
    by: http://www.thingiverse.com/Motorpixiegimbals/about.

    11 May, 2023: model retrieved from
    https://www.thingiverse.com/thing:391130
    and modified for Gazebo in FreeCAD and Blender.
  </description>
</model>
