<?xml version="1.0"?>

<model>
  <name>Iris with Gimbal</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Will Anderson</name>
    <email>will.c.anderson.mil@army.mil</email>
  </author>
  <author>
    <name>Will Anderson</name>
  </author>

  <description>
    Starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    add Camera
  </description>
  <depend>
    <model>
      <uri>model://camera</uri>
      <version>2.0</version>
    </model>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>2.0</version>
    </model>
  </depend>
</model>
